.container {
    background-color: #fff;
    padding: 25px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
}

.tenant {
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
    line-height: 22px;
    color: #222;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    line-height: 22px;
    color: #222;
    padding-bottom: 40px;
}

.formArea {}

.inputArea {
    margin-bottom: 15px;
}

.signup {
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    line-height: 22px;
    color: #111;
}

.signup a {
    color: #111;
}